.main-pane {
    -fx-background-color: white;
}

.pane-borders {
    -fx-border-width: 3;
    -fx-border-color: #777777;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-text-fill: #ffffff;
}

.button {
    -fx-cursor: hand;
    -fx-background-color: #20B2AA;
    -fx-background-radius: 27;
    -fx-text-fill: #ffffff;
}

.main-button {
    -fx-font-size: 20;
    -fx-background-color: #00D29D;
    -fx-pref-width: 250;
    -fx-pref-height: 50;
}

.big-button {
    -fx-font-size: 16;
    -fx-background-color: #00D0D0;
    -fx-pref-width: 250;
    -fx-pref-height: 30;
}

.title-text {
    -fx-font-size: 26;
}

.big-description-text {
    -fx-font-size: 18;
}

.navigation-menu {
    -fx-background-color: #302E2E;
}

.logo {
    -fx-font-size: 36;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.logo:hover {
    -fx-fill: #00D29D;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.navigation-menu-text {
    -fx-font-size: 30;
    -fx-fill: white;
}

.navigation-menu-text:hover {
    -fx-fill: #00D29D;
    -fx-cursor: hand;
}

.navigation-menu-subtext {
    -fx-text-alignment: center;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-fill: white;
}

.navigation-menu-subtext:hover {
    -fx-fill: #00D29D;
    -fx-cursor: hand;
}

.navigation-menu-image:hover {
    -fx-cursor: hand;
}

.text-area {
    -fx-wrap-text: true;
}

.jfx-text-area {
    -fx-wrap-text: true;
    -jfx-focus-color: #00D29D;
    -fx-font-size: 14;
}

.choice-box {
    -fx-font-size: 14;
}

.choice-box-error {
    -fx-border-color: red;
    -fx-border-width: 2;
}

.text-field {
    -fx-font-size: 16;
}

.text-field-error {
    -fx-border-color: red;
    -fx-border-width: 2;
}

.text-info {
    -fx-font-size: 16;
}

.tab-pane {
    -fx-border-width: 2;
    -fx-border-color: #302E2E;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: #ffffff;
}

.jfx-tab-pane {
    -fx-border-width: 2;
    -fx-border-color: #302E2E;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: #ffffff;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: white;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

.jfx-tab-pane .tab {
    -fx-background-color: #DDDDDD;
}

.jfx-tab-pane .tab-label {
    -fx-font-size: 20;
    -fx-text-fill: #302E2E;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #00D29D;
    -fx-pref-height: 3;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: #00D29D;
}

.jfx-tab-pane .tab:selected {
    -fx-background-color: white;
}

.profile-image {
    -fx-image: url("./../images/character.png");
}

.profile-image:hover {
    -fx-image: url("./../images/three-friends.png");
}

.organisation-image {
    -fx-image: url("./../images/three-friends.png");
}

.organisation-image:hover {
    -fx-image: url("./../images/character.png");
}
